/**
 * three.js styles
 */

.scene-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

#scene-canvas {
  height: 75vh;
  width: 50%;
}