/**
 * three.js styles
 */

.scene-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

}

@media (min-aspect-ratio: "5/4") {
  .scene-canvas {
    height: 75vh;
    width: 50%;
  }
}

@media (max-aspect-ratio: "5/4") {
  .scene-canvas {
    height: 75vh;
    width: 90%;
  }
}